<!DOCTYPE html>
<html>
<head>
  <title>ToEat.ly</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>ToEat.ly <small>Put it in my belly!</small></h1>
    </header>
    <!-- form -->
    <form id="new-food-form">
      <input name="name" type="text" id="food-name-input" placeholder="Name">
      <input name="yumminess" type="text" id="food-yumminess-input" placeholder="Yumminess">
      <button type="submit">Eat me!</button>
    </form>
    <ul id="food-ul">
  </div>
  <script type="text/template" id="foods-template">
    <li><%= name %> <span><%= yumminess%></span></li>
  </script>
</body>
</html>











